
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a href="index.html">Home</a></li>
                   <li class="active">About Us</li>
               </ul>
            </div>
            <div class="col-xs-12">
               <h3>About Us</h3>
               <hr>
            </div>
        </div>
        
        <div class="row row-content">
            <div class="col-xs-12 col-sm-8">
                <h2>About Our Knives</h2>
                <p>J and L Custom Knives are handmade using either pre-made high grade steel blades made in the USA or free hand hollow ground in my shop. These blades are crafted for use in hunting, camping, general use or for the collector. </p>

<p>Sheaths and engraving are available upon request and will be quoted separately. For additional information on these options, contact Larry Jones at 903-570-0987. </p>

<p>Payment Options - I accept credit card payments through PayPal. Items paid by Money Order, Cashier Check or Personal Check must clear before shipment can be made.</p>

<p>Special Orders are welcome. Drawings and specifications must include blade type, size, guard and pommel material, handle material. A quote will be made and accepted before materials are ordered. A 50% deposit will be required at order and the balance on shipment.</p>
  <p>You can order knives from stock, pick a blade style or send your own special design. All design order orders require drawings with blade and handle specifications.</p> 
    
            </div>
            <div class="media-right media-middle">
                        <a href="#">
                       
                        <img class="side media-object img-thumbnail" 
                        img src= "images/7.jpg" alt="Larry Jones">
                        </a>
                    </div>
        </div>    
        <div class="row row-content">
                <div class="col-xs-12 col-sm-8">
                <h2>About Larry</h2>    
                    <p>Larry is  a retired manufacturing engineer, machine shop owner and an Army Vet. Larry has been designing and making custom knives for 25 years. Larry uses only quality steel made in America and exotic handle materials from all over the world. Larry prides himself in creating a functional, high quality knife with a satisfaction guarantee.</p> 
                    
                <div class="well">
                    <blockquote>
                        <p>All knives have a 100% satisfaction guarantee.</p>
                        
                    </blockquote>                
                </div>

                </div>  
            
                <div class="media-right media-middle">
                        <a href="#">
                       
                        <img class="side media-object img-thumbnail" 
                        img src= "images/larry.jpg" alt="Larry Jones">
                        </a>
                    </div>
        </div>

        
        
    </div>
