    <div class="container">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a href="#">Home</a></li>
                   <li class="active">Contact Us</li>
               </ul>
            </div>
            <div class="col-xs-12">
               <h3>Contact Us</h3>
               <hr>
            </div>
        </div>
        
        <div class="row row-content">
           <div class="col-xs-12">
              <h3>Location Information</h3> 
           </div>
            <div class="col-xs-12 col-sm-4 col-sm-offset-1">
                   <h5>Our Address</h5>
                    <address style="font-size: 100%">
		              12755 County Road 3612<br>
                      Brownsboro TX 75756<br>
		              <i class="fa fa-phone"></i>: 903-570-0987<br>
		              
		              <i class="fa fa-envelope"></i>: 
                        <a href="mailto:larry@jandl.net">larry@jandl.net</a>
		           </address>
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-offset-1">
                <p>We are located between Tyler and Athens on County Road 3612, just off of Farm to Market Road 607, about 5 miles out of Brownsboro.</p>
                       
	
            </div>
            <div class="col-xs-12 col-sm-11 col-sm-offset-1">
                <div class="btn-group" role="group" aria-label="...">
                    <a type="button" class="btn btn-primary" href="tel:903-570-0987"><i class="fa fa-phone"></i> Call</a>
                    <a type="button" class="btn btn-success" href="mailto:larry@jandl.net"><i class="fa fa-envelope-o"></i> Email</a>
                </div>
            </div>
        </div>
        <div id='map'></div>
        
   
    
        
       
       
</div>