
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a href="index.html">Home</a></li>
                   <li class="active">Gallery</li>
               </ul>
            </div>
            <div class="col-xs-12">
               <h3>Gallery</h3>
               <hr>
            </div>
        </div>
        <div class="row row-content">
            <ul class="media-list tab-pane fade in active">
                <li class="media" >
                    <div class="col-sm-3" ng-repeat="knife in knives">
                       <a ui-sref="app.knifedetails({id: knife.id})">
                       <img class="side media-object img-thumbnail"
                        ng-src={{knife.image}} alt="{{knife.name}}">
                        </a>
                   </div>
                    
                </li>
            </ul>
        </div>

    </div>
