


    <nav class="navbar navbar-dark navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="app"><img src="images/logowhite.png" height=30 width=41></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li ng-class="{active: stateis('app')}"><a ui-sref="app">
                        <span class="glyphicon glyphicon-home"
                         aria-hidden="true"></span> Home</a></li>
                    
                    <li ng-class="{active: stateis('app.gallery') || stateis('app.gallerydetails')}"><a ui-sref="app.gallery">
                         <span class="glyphicon glyphicon-list-alt"
                         aria-hidden="true"></span> 
                         Gallery</a></li>
                     <li ng-class="{active: stateis('app.aboutus')}"><a ui-sref="app.aboutus">
                        <span class="glyphicon glyphicon-info-sign"
                         aria-hidden="true"></span> About</a></li>
                     <li ng-class="{active: stateis('app.contactus')}"><a ui-sref="app.contactus">
                     <i class="fa fa-envelope-o"></i> Contact</a></li>
                </ul>
                
            </div>
        </div>
    </nav>         
               
    <header class="jumbotron">

        <!-- Main component for a primary marketing message or call to action -->

        <div class="container">
            <div class="row row-header">
                <div class="col-xs-12 col-sm-10">
                    <h1>J And L Custom Knives</h1>
                    <p style="padding:40px;"></p>
                    <p>Whether You Are A Hunter, A Camper, Or Just A Collector, You Are Going To Love Our Knives. </p>
                </div>
                <div class="col-xs-12 col-sm-2">
                <p style="padding:10px;"></p>
                <img src="images/logowhite.png" class="img-responsive">
                </div>
                
            </div>
        </div>
    </header>
