    

    <div class="container">
        <div class="row row-content">
            <div class="col-xs-12 col-sm-3 col-sm-push-9">
                <p style="padding:20px;"></p>
                <h3 align=center>Our Custom Knife Specialist</h3>
            </div>
            <div class="col-xs-12 col-sm-9 col-sm-pull-3">
                <div>
                    
                </div>
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="index.html#/aboutus">
                        <img class="side media-object img-thumbnail" 
                        img src= "images/larry.jpg" alt="Larry Jones">
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">Meet Larry Jones</h2>
                        <p>Larry has been making custom knives in Brownsboro Texas for many years.  Check out our Gallery to see some of Larry's Excellent Work.</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="row row-content">
            <div class="col-xs-12 col-sm-3">
                <p style="padding:20px;"></p>
                <h3 align=center>Check Out One Of Our Custom Knives</h3>
            </div>
            <div class="col-xs-12 col-sm-9">
            
                <div class="media">
                    <div class="media-body">
                        <h2 class="media-heading">{{knife.name}} </h2>
                        
                        <p>{{knife.description}}</p>
                    </div>
                    <div class="media-right media-middle">
                        <a href="index.html#/gallery">
                        <img class="side media-object img-thumbnail" 
                        ng-src="{{knife.image}}" alt={{knife.name}}>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
