
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a href="index.html">Home</a></li>
                   <li><a href="index.html#/gallery">Gallery</a></li>
                   <li class="active">Knife Details</li>
               </ul>
            </div>
            <div class="col-xs-12">
               <h3>Knife Details</h3>
               <hr>
            </div>
        </div>
        <div class="row row-content">
            
            <div class="col-xs-12" >
                
                <div class="media">
                    <div class="media-left media-middle">
                        <a href={{knife.wlink}}>
                        <img class="media-object img-thumbnail" 
                        ng-src={{knife.image}} alt={{knife.name}}>
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">{{knife.name}} </h2>
                        
                        <p>{{knife.description}}</p>
                    
                
                    
                    </div>
                   
	
	
    

	         
                </div>
                
                </div>
            </div>
            
            </div>
       

    </div>
