<ion-view hide-back-button="true" view-title="{{title}} a Knife">
  <ion-content>
    <h1>{{title}}</h1>
     <form id="reserveForm" name="reserveForm" ng-submit="doAddEdit()">
      <div class="list">
        
        
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="knife.name">
        </label>
        <label class="item item-input">
          <span class="input-label">Description</span>
         <textarea ng-model="knife.description"> </textarea>
        </label>
        <label class="item item-input">
          <span class="input-label">Image</span>
          <input type="text" ng-model="knife.image">    
        </label>
        
        
        <label class="item item-input">
          <span class="input-label">Link</span>
          <input type="text" ng-model="knife.wlink">    
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">{{title}} Knife</button>
        </label>
      </div>
    </form>
      
  </ion-content>
</ion-view>
