<ion-view hide-back-button="true" view-title="Item {{title}}">
  <ion-content>
    <ion-list>
      
        <h1>Item {{title}}</h1>
        <br><br>
        <button ng-click='go()' class="button button-block button-positive" type="cancel">Back to Home</button>
      </ion-list>
  </ion-content>
    
</ion-view>