<ion-view hide-back-button="true" view-title="Remove A Knife">
  <ion-content>
    <h1>Delete</h1>
      <div class="row row-content">
            <ul class="media-list tab-pane fade in active">
                <li class="media" >
                    <div class="col-sm-3" ng-repeat="knife in knives track by $index">
                       <a ui-sref="app.dfirm({id: knife.id})">
                       <img class="side media-object img-thumbnail" ng-click="delete()"
                        ng-src={{knife.image}} alt="{{knife.name}}">
                        </a>
                        <p>{{knife.name}}</p>
                        
                    </div>
                    
                    
                </li>
            </ul>
        </div>
  </ion-content>
</ion-view>
