<ion-view hide-back-button="true" view-title="Confirm Delete">
  <ion-content>
    <ion-list>
      <br><Br>
        <p>Are you sure that you want to delete the {{knife.name}}?</p>
        <button ng-click ='delete()'  class="button button-block button-positive" type="submit">Yes</button>
        <button ng-click='go("/app/delete")' class="button button-block button-positive" type="cancel">No</button>
      </ion-list>
  </ion-content>
    
</ion-view>
