<ion-view hide-back-button="true" view-title="Home">
  <ion-content>
    <h1>Home</h1>
      
      <p class="home">Welcome to the J and L Mobile App.  From this app you are able to modify the text, images, and links in the gallery for your website.</p>
      <ion-list>
      
       <button ng-click='go("/app/add")' class="button button-block button-positive" type="cancel">Add a Knife</button>
       <button ng-click='go("/app/edit")' class="button button-block button-positive" type="cancel">Edit a Knife</button>
       <button ng-click='go("/app/delete")' class="button button-block button-positive" type="cancel">Delete a Knife</button>
      </ion-list>
  </ion-content>
</ion-view>
